body {
    background-image: url(img/bkgr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: brown;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: burlywood;
    background-position: center;
    border: 2px solid white;
    border-radius: 20px;
    opacity: 0.8;
    margin: auto;
    width: 70vw;
    padding: 20px;
}

p {
    color: #4A2C2C;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

span,
select,
option {
    color: #4A2C2C;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#billSplit,
#totalTip,
#totalAmount {
    opacity: 1;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

#addTip {
    width: 250px;
}

.button {
    align-self: center;
}

#btn {
    padding: 45px 30px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: brown;
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s ease-in;
}

input {
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #4A2C2C;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#addTip {
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #7D5E3F;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#addTip:hover {
    cursor: pointer;
}

select {
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
}

#tip {
    display: none;
}

@media all and (max-width: 500px) {
    #btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        font-size: 15px;
        font-weight: 800;
    }
    span,
    select,
    option {
        font-size: 10px;
    }
    #addTip {
        width: 200px;
    }
    .container {
        text-align: center;
    }
    input {
        width: 150px;
    }
}